/* variables */
:root {
    --yellow: #ee9b00;
    --pale-yellow: #e9d8a6;
    --orange: #ca6702;
    --dark-orange: #ca6702;
    --blue: #005f73;
    --beige: #efd39ae2;
}


.calc-container {
    width: 50%;
    margin: 10em auto;
    display: grid;
    grid-template-areas: "display display display display"
        "line1 line1 line1 . "
        "line2 . . ."
        "line3 . . ."
        "line4 . . ."
        "line5 line5 equals equals";

}

.display {
    border: 1px solid black;
    height: 1em;
    border-radius: 5px;
    padding: .25em;
    font-size: 4em;
    grid-area: display;
    text-align: right;
}

.clear {
    background-color: var(--blue);
    grid-area: line1;
}

.zero {
    grid-area: line5;
}

.equal {
    grid-area: equals;
}


.equal {
    background-color: var(--yellow);
}

.divide,
.multiply,
.add,
.sub {
    background-color: var(--orange);
}

.divide:hover,
.multiply:hover,
.add:hover,
.sub:hover,
.equal:hover {
    background-color: var(--blue);
}

.clear:hover {
    background-color: var(--blue);
}

button {
    background-color: var(--pale-yellow);
    border-radius: 5px;
    font-size: 1.5em;
    font-weight: bolder;
    padding: 1.5em;
}

button:hover {
    background-color: var(--blue);
}